@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 50px 0 0 0;
}

p {
  margin: 20px 0 30px;
  /* border: 1px solid blue; */
}

span.sign-choice {
  font-size: 14px;
  position: relative;
}

span.sign-choice::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 110%;
  width: 75%;
  height: 1px;
  background-color: #000;
}

span.sign-choice::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 110%;
  width: 75%;
  height: 1px;
  background-color: #000;
}

a {
  text-decoration: none;
  color: #333;
  margin: 15px 0;
}

a.forget-link {
  font-size: 0.8rem;
  align-self: flex-end;
}

/* Elements */

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  margin: 20px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background: transparent;
  border-color: #fff;
  margin-bottom: 41%;
}

.fields {
  margin: 30px 0 0 0;
  /* border: 1px solid blue; */
  width: 100%;
}

.field-name {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
  width: 100%;
}

.field-name i {
  width: 2rem;
  margin-right: 1.5rem;
  /* background-color: pink; */
}

.field-name:hover {
  opacity: 0.7;
}

/* layout */

.container,
#alert {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  overflow-x: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  position: relative;
}

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transition: all 600ms ease-in-out;
}

.sign-in-container {
  z-index: 2;
}

.sign-up-container {
  opacity: 0;
  z-index: 1;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 600ms ease-in-out;
}

.overlay {
  /* background: #ff4b2b; */
  /* background: url(images/bg.jpg) no-repeat 0 0 / cover; */
  /* background: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 / cover; */
  color: #fff;
  /* background-color: rgba(132, 94, 194, 0.9); */
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 600ms ease-in-out;
}

.overlay::after {
  content: "";
  position: absolute;
  background: url(images/bg.jpg) no-repeat 0 0 / cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: -3;
  background-color: rgba(255, 75, 43, 0.3);
  background-blend-mode: multiply;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 50%;
  text-align: center;
  padding: 0 40px;
  transform: translateX(0);
  transition: transform 600ms ease-in-out;
  /* border: 1px solid blue; */
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.overlay-left {
  transform: translateX(-40%);
  /* text-effect, so it looks going out together as the overlay-container area */
}

/* explain:
the overlay-container taking 50% width works as a focus area, 
shift left or right to hide or show the panel that we want,
the .overlay takes the full width the main container 100% =  200% * 50%, so its width is 200%
*/

/* .overlay-text {
  background-color: rgba(255, 75, 43, 0.4);

  border-radius: 10px;
} */
.form-container form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  /* border: 1px solid red; */
}

.form-container input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.social-container {
  margin: 10px 0;
  /* border: 1px solid blue; */
}

.social-container a {
  border: 1px solid #ddd;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  transition: all 250ms ease-in-out;
  /* border: 1px solid blue; */
}

.social-container a:nth-child(1):hover {
  border: 1px solid #3b5998;
  background-color: #3b5998;
  color: #fff;
}

.social-container a:nth-child(2):hover {
  border: 1px solid #db4a39;
  background-color: #db4a39;
  color: #fff;
}

#alert {
  z-index: 10;
  opacity: 0;
  background: url(images/bg.jpg) center no-repeat;
  background-size: cover;
  height: 100%;
  transition: opacity 300ms ease-in;
  pointer-events: none;
}

.alert-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: rgba(225, 225, 225, 0.7);
  width: 70%;
  height: 100%;
  margin: auto;
  pointer-events: none;
}

.alert-text h1 {
  font-size: 2.4rem;
}

.alert-text p.lead {
  font-size: 1.4rem;
}

/* click btns Animation */

/* Move signIn to the right */
.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

/* Bring signUp over signIn */
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 3;
}

/* Move overlay to the left */
.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

/* Move overlay back to the right*/
.container.right-panel-active .overlay {
  transform: translateX(50%);
}

/* below 2 are text effect inside of the overlay-panel */
.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(40%);
}
